<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規名刺登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/cards/create") do %>
          <p>顧客名</p>
          <input name="name" value="<%= @card.client_name %>">
          <p>会社名</p>
          <input name="company" value="<%= @card.client_company %>">
          <p>顧客との関係</p>
          <input name="relation" value="<%= @card_relation %>">
          <input type="submit" value="新規登録">
        <% end %>
      </div>
    </div>
  </div>
</div>