<!DOCTYPE html>
<html>
  <head>
    <title>MeishimanageApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <div class = "header-logo">
      <%= link_to("名刺管理App", "/") %>
     </div>
     <div class = "header-about">
      <%= link_to("名刺管理Appとは", "/about") %>
     </div>
     <ul class = "header-menus">
      <% if @current_user %>
       <li>
       <%= link_to("名刺登録", "cards/new") %>
      </li>
      <li>
       <%= link_to("名刺情報一覧", "cards/index") %>
      </li>
       <li>
        <%= link_to("ログアウト", "/logout", {method: :post}) %>
       </loi>
      <% else %>
       <li>
        <%= link_to("ログイン", "/login") %>
       </li>
       <li>
        <%= link_to("新規登録", "/new") %>
       </li>
      <% end %>
     </ul>
    </header>

    <% if flash[:notice] %>
     <div class = "notice">
      <%= flash[:notice] %>
     </div>
    <% end %>

    <%= yield %>
  </body>
</html>
